{% extends "projects/layout.html" %}

{% block body %}
    <h1>Eeeepica la pagina</h1>

    {{ form.as_ul }}
    <!-- <form action="{% url 'projects:test' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit" value="Submit">
    </form> -->

    {% for p in data %}
        <p>{{ p.title }}</p>
        <p>{{ p.owner.username }}</p>
        {% if p.image %}
            <img src="media/{{p.image}}" alt="Project Image">
        {% endif %}
    {% empty %}
    <h2>No project register</h2>
    {% endfor %}
    {% for user in users %}
        <p>{{ user.username }}</p>
        <p>{{ user.carrer }}</p>
        {% if user.profile_img %}
            <img src="media/{{user.profile_img}}" alt="Profile">
        {% endif %}
    {% empty %}
    <h2>No user register</h2>
    {% endfor %}
{% endblock %}